/* css reset */
*,
*::after,
*::before,
*:active,
*:focus,
*:hover {
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

/* css variables */
:root {
  --transparancy: 0.05;
  /* PRIMARY COLORS */
  ---Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  ---Light-red-bg: hsla(0, 100%, 67%, 0.1);
  --Orangey-yellow-bg: hsla(39, 100%, 56%, 0.1);
  --Green-teal-bg: hsla(166, 100%, 37%, 0.1);
  --Cobalt-blue-bg: hsla(234, 85%, 45%, 0.1);

  /* GRADIENTS  */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  /* --Violet-blue-tp: hsla(256, 72%, 46%, 0); */

  /* NEUTRAL COLORS */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  --Light-lavender-lt: hsla(241, 100%, 89%, calc(0.1 * 18));
  --Dark-gray-blue-lt: hsla(224, 30%, 27%, 0.5);
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  display: grid;
  place-items: center;
}

.main__container {
  min-width: 23rem;
  display: grid;
  max-width: 46rem;
  overflow: hidden;
}

.section__result {
  color: var(--Light-lavender);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 3rem;
  justify-content: center;
  background-image: linear-gradient(var(--Light-slate-blue),
      var(--Light-royal-blue));
  border-radius: 0 0 2rem 2rem;
}

.section__title {
  font-size: 18px;
}

.result__circle {
  width: 9rem;
  aspect-ratio: 1;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  background-image: linear-gradient(var(--Violet-blue), var(--Persian-blue));
}

.result__circle>span {
  color: var(--Pale-blue);
  font-size: 3rem;
}

.res__content {
  display: grid;
  row-gap: 1rem;
}

.res__content>.result__greet {
  color: var(--Pale-blue);
  font-size: 1.5rem;
}

.section__summary {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.summary__title {
  font-size: 18px;
  color: var(--Dark-gray-blue);
}

.summary__container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  padding: 0;
}

.summary__subject {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--Dark-gray-blue-lt);
  border-radius: 0.6rem;
  padding: 0.8em;
  margin: 0.5rem 0;
}

.summary__subject>.left,
.summary__subject>.right {
  display: flex;
}

.left>h3 {
  margin-left: 0.5rem;
}

.right>.marks {
  color: var(--Dark-gray-blue);
  margin-right: 0.5rem;
}

.summary__subject[data-item-type="accent-1"] {
  background-color: var(---Light-red-bg);
}

.summary__subject[data-item-type="accent-1"]>.left>h3 {
  color: var(---Light-red);
}


.summary__subject[data-item-type="accent-2"] {
  background-color: var(--Orangey-yellow-bg);
}

.summary__subject[data-item-type="accent-2"]>.left>h3 {
  color: var(--Orangey-yellow);
}

.summary__subject[data-item-type="accent-3"] {
  background-color: var(--Green-teal-bg);
}

.summary__subject[data-item-type="accent-3"]>.left>h3 {
  color: var(--Green-teal);
}

.summary__subject[data-item-type="accent-4"] {
  background-color: var(--Cobalt-blue-bg);
}

.summary__subject[data-item-type="accent-4"]>.left>h3 {
  color: var(--Cobalt-blue);
}

.btn {
  background-color: var(--Dark-gray-blue);
  color: var(--Pale-blue);
  padding: 0.75em;
  font-size: 18px;
  border-radius: 2rem;
}

.btn:hover,
.btn:focus {
  background-image: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
}

@media screen and (min-width: 600px) {
  body {
    height: 100vh;
  }

  .main__container {
    border-radius: 2rem;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 1rem 0.1rem #00000020;
  }

  .section__result {
    border-radius: 2rem;
  }
}