/* css reset */
*,
*::after,
*::before,
*:active,
*:focus,
*:hover {
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

/* css variables */
:root {
  --transparancy: 0.05;
  /* PRIMARY COLORS */
  ---Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  ---Light-red-bg: hsla(0, 100%, 67%, var(--transparancy));
  --Orangey-yellow-bg: hsla(39, 100%, 56%, var(--transparancy));
  --Green-teal-bg: hsla(166, 100%, 37%, var(--transparancy));
  --Cobalt-blue-bg: hsla(234, 85%, 45%, var(--transparancy));

  /* GRADIENTS  */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  /* --Violet-blue-tp: hsla(256, 72%, 46%, 0); */

  /* NEUTRAL COLORS */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  --Light-lavender-lt: hsla(241, 100%, 89%, calc(var(--transparancy) * 18));
  --Dark-gray-blue-lt: hsla(224, 30%, 27%, calc(var(--transparancy) * 10));
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  min-width: 375px;
  max-width: 1440px;
  display: flex;
  margin: auto 0;
  align-items: center;
  justify-content: center;
}

.main__container {
  min-width: 375px;
  width: 70%;
  height: 512px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 375px;
  border-radius: 2rem;
  align-items: center;
  /* overflow: hidden; */
}

.section {
  width: 375px;
  padding: 2rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  border-radius: 0rem 0rem 2rem 2rem;
}
.section__result {
  padding: 1rem 3.5rem 1.1rem;
  height: 297px;
  color: var(--Pale-blue);
  background-image: linear-gradient(
    var(--Light-slate-blue),
    var(--Light-royal-blue)
  );
}

.result__heading {
  height: 17%;
}
.result__heading > h1 {
  font-size: 18px;
  color: var(--Light-lavender);
}

.result__circle {
  background-image: linear-gradient(var(--Violet-blue), var(--Persian-blue));
  width: 140px;
  height: 140px;
  border-radius: 100px;
  color: var(--Light-lavender);
  padding: 2rem 0 2.5rem 0;
  display: grid;
  place-items: center;
  margin: 1rem;
}
.result__circle > span {
  color: var(--Pale-blue);
  font-size: 3.5rem;
  font-weight: 800;
}

.result__greet {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--Pale-blue);
  margin-bottom: 1rem;
}

.result__para {
  width: 100%;
  color: var(--Light-lavender);
  text-align: center;
  font-weight: 500;
}

.section__summary {
  padding: 2rem;
  height: 512px;
  display: flex;
  flex-direction: column;
}
.section__summary > h2 {
  margin-bottom: 1rem;
  width: 100%;
}
.summary__subject {
  width: 100%;
  padding: 1em 0.85em;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.75rem;
  margin: 0.5rem 0;
}
.summary__subject > div.left,
.summary__subject > div.right {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}
.summary__subject > div.left > h4 {
  margin-left: 10px;
}
.summary__subject > div.right {
  color: var(--Dark-gray-blue-lt);
  font-weight: 700;
}
.summary__subject > div.right > .marks {
  color: var(--Dark-gray-blue);
  margin-right: 0.35rem;
}

.summary__reaction {
  color: var(---Light-red);
  background-color: var(---Light-red-bg);
}
.summary__memory {
  color: var(--Orangey-yellow);
  background-color: var(--Orangey-yellow-bg);
}
.summary__verbal {
  color: var(--Green-teal);
  background-color: var(--Green-teal-bg);
}
.summary__visual {
  background-color: var(--Cobalt-blue-bg);
  color: var(--Cobalt-blue);
}
.btn {
  width: 100%;
  margin-top: 1rem;
  padding: 0.75em 1.25em;
  font-size: 1.25rem;
  color: var(--Pale-blue);
  background-color: var(--Dark-gray-blue);
  border-radius: 5rem;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
